.developerSection{
    line-height: 70px !important;
}
.homeContainer{
    background-image: url("/assets/home/bgFinal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.headerTextBg {
    background-image: linear-gradient(to left, #FDA000, #D3208B,#872AF2);
    background-clip: text;
    width: max-content;
    -webkit-background-clip: text;
    color: transparent;
    background-position: center;
    background-size: cover;

}

.navbar {
    padding-top: 52px;
}
.navbarItem{
    font-weight: bold;
}
.navbar >div:not(:last-child){
    margin-right: 50px;
}

.navbarItem {
    display: inline-block;
    position: relative;
    color: #fff;
}

.navbarItem::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

.navbarItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.customButton {
    margin-top: 108px;
    background-color: #4B0082; /* Dark purple color */
    color: white; /* White text color */
    border: 1px solid #fff; /* No border */
    padding: 10px 20px; /* Padding around the text */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* No underline on the text */
    display: inline-block; /* Allow the button to sit in line with other elements */
    font-size: 16px; /* Set the font size */
    border-radius: 50px; /* Rounded corners with a large radius to make it pill-shaped */
    cursor: pointer; /* Change mouse cursor on hover */
    font-weight: bold;
  }
  
  .customButton:hover {
    background-color: #5C00A1; /* Slightly lighter purple on hover */
  }
  