
.animate-charcter {
    background-image: linear-gradient(-225deg, #872AF2 0%, #D3208B 10%, #D3208B 15%, #FDA000 39%, #FDA000 47%, #872AF2 67%, #D3208B 80%, #FDA000 100%);
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear 1;
    display: inline-block;
    font-size: 10vw;
    max-font-size: 190px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutUsImage {
    height: 390px;
    width: 390px;
    background-repeat: no-repeat;
    box-shadow: 0 0 40px 0 rgb(34, 35, 76, 0.4);
    background-size: cover;
    background-position: center;
    background-image: url("/assets/home/about_us_3d.png");
}



.aboutUsSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
}



.statisticCounterText {
    margin-top: 10px;
}

.section#blog {
    background-color: #08040D;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}

.blogWindowImage {
    height: 100%;
    width: 800px;
    min-width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/home/windows.png");

}

.blogText{
    
    margin-left: 5vw;
    font-size: 1.8vw;
    color: #fff;
    width: 50vw;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.15 !important;

}

.blogTextHeader{
    font-size: 5vw;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    line-height: 1.1!important;
    margin-bottom: 3vw;
    background-image: linear-gradient(to left, #FDA000, #D3208B, #872AF2);
    background-clip: text;
    -webkit-background-clip: text;
    background-position: center;
    background-size: cover;
}

.section#about-us {
    background-color: #08040D;
    width: 100%;
    height: 100vh;
}

.section#home {
    background-image: url("/assets/home/bgFinal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}


.homeContainer {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 100vh;
}

.headerTextBg {
    background-image: linear-gradient(to left, #FDA000, #D3208B, #872AF2);
    background-clip: text;
    width: max-content;
    -webkit-background-clip: text;
    color: transparent;
    background-position: center;
    background-size: cover;
    line-height: 1 !important;
}

.aboutUsSectionheaderTextBg {
    background-image: linear-gradient(to right, #FDA000 10%, #D3208B 40%, #872AF2 80%);
    background-clip: text;
    width: max-content;
    -webkit-background-clip: text;
    color: transparent;
    background-position: center;
    background-size: cover;
    line-height: 1.15 !important;
}

.navbar {
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: top 0.3s;
    top: 0;
    z-index: 1000;
    padding-top: 52px;
}

.navbar-hidden {
    top: -100px;
}

.navbarItem {
    font-weight: bold;
}

.navbar>div:not(:last-child) {
    margin-right: 50px;
}

.navbarItem {
    display: inline-block;
    position: relative;
    font-size: 1.2vw;
    color: #fff;
}

.aboutUsText {

    font-size: 3vw;
}

.statisticCounterContainer {
    font-size: 1.2vw;
}

.navbarItem::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

.navbarItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.customButton {
    background-image: linear-gradient(to right, #050205 0%, #C222A2 51%, #050205 100%);

    padding: 15px 45px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    margin-left: 0 !important;
    margin-top: 10px;
    border-radius: 20px;
    display: block;
}

.customButton:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.parentCounterContainer {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}

.counter {
    display: block;
    border: #fff solid 1px;
    border-radius: 10px;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    width: 10vw;
    background-color: #08040D;
    box-shadow: 0 0 40px 0 rgb(34, 35, 76, 0.5);
    margin-bottom: 60px;
}

.count-title {
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.developerSection {
    font-size: 6vw;

}
 

.stats-text {
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.stats-line-black {
    margin: 12px auto 0;
    width: 55px;
    height: 2px;
    background-color: #fff;
}

.stats-icon {
    font-size: 35px;
    margin: 0 auto;
    float: none;
    display: table;
    color: #fff;
}


/* Media Queries */


@media screen and (max-width: 992px) {
    .counter {
        margin-bottom: 40px;
    }

    .animate-charcter {
        font-size: 8vw;
        /* Smaller font size for smaller devices */
    }

    .aboutUsText {
        margin-left: 5vw;
    }

    .aboutUsImage {
        margin-left: 10px !important;
        margin-bottom: auto;
        margin-right: 5vw;
        height: 340px;
        /* Adjust height as needed */
        width: 340px;
        /* Adjust width as needed */
    }

    .homeContainer,
    .section {
        flex-direction: column;
    }

    .navbarItem {
        font-size: 3vw;
    }

    .stats-line-black {
        width: 3vw;
        margin: 7px auto 0;

    }

    .counter {
        width: 13vw;
        padding-top: 0.2vw;
        padding-bottom: 1.6vw;
    }

    .stats-text {
        margin-top: 8px;
    }

    .developerSection {
        margin-left: 0px !important;
    }

    .customButton {
        padding: 1.5vw 4vw;
        /* Smaller padding for smaller screens */
        font-size: 2.5vw;
        /* Smaller font size for smaller buttons */
    }

    /* Adjust other elements as needed */
}

@media screen and (max-width:888px) {
    .aboutUsImage {
        margin-left: auto;
        margin-bottom: auto;
        margin-right: 5vw;
        height: 30vw;
        /* Adjust height as needed */
        width: 30vw;
        /* Adjust width as needed */
    }
}

@media (max-width: 768px) {
    .aboutUsImage {
        margin-left: auto;
        margin-bottom: auto;
        height: 150px;
        /* Adjust height as needed */
        width: 150px;
        /* Adjust width as needed */
    }

    .stats-text ,.count-number{
        font-size: 4vw;
    }
    .counter {
        padding: 2vw 3vw 4vw;
        width: 28vw;
    }

    .stats-line-black {
        margin-top: 1vw !important;
        width: 10vw;
    }
    
}


@media (max-width: 480px) {
  

    .developerSection {
        font-size: 12vw;
    }

    .animate-charcter {
        font-size: 16vw;
    }

    .customButton {
        width: 40%;
        font-size: 4vw;
    }

    .aboutUsText, .aboutUsSectionheaderTextBg {
        width: 55vw;
        font-size: 6vw;
    }


    .aboutUsImage {
        margin-left: auto;
        height: 31.5vw;
        width: 40vw;
    }

    .counter {
        width: 28vw;
    }

    .stats-line-black {
        margin-top: 1vw !important;
        width: 10vw;
    }

    .stats-text ,.count-number{
        font-size: 4vw;
    }

    .statisticCounterContainer {
        width: 50%;
    }
    

}