.blogSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141418;
    height: auto;
    padding-bottom: 30px;
    width: 100%;
    /* This ensures it doesn't exceed the width of the viewport */
}

.customShadowBottom{
    width: 10px;
    height: 10px;
    box-shadow: -600px -200px 600px 300px rgba(18, 37, 49, 0.4);
    
}

.customShadowTop{
    width: 0px;
    height: 10px;
    box-shadow: 500px 300px 600px 300px rgba(18, 37, 49, 0.4);
}

.blogHeaderText {
    z-index: 10;
    background-image: linear-gradient(to left, #FDA000, #D3208B, #872AF2);
    background-clip: text;
    color: transparent;
    font-size: 3vw !important;
    line-height: 1.16 !important;
    margin: 10px auto;
}


.blogTextsContainer {
    
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
    font-size: 2.5vw;
    width: 82vw;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px ;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 0 90px;
}
.cardContainer >div{
    margin-left:    auto;
    margin-right:   auto;
}


@media (min-width: 768px) {
    .cardContainer {
        justify-content: center;
        padding: 0 20px;
    }

    .card {
        /*width: 30%;*/
    }
}

@media (max-width: 768px) {
    .card {
        /*width: 45%;*/
    }
}