
.navbarContainer {
    width: 100%;
    justify-content: flex-end;
    padding-right: 55px;

}

.navbarItemButton {
    /* background-color: #fff; */
    background-color: #00B0FF;
    /* color: black; */
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 7px 15px;
    cursor: pointer;
}

.navbarItemButton:hover {
    /* background-color: #e6e6e6; */
    /* color: #fff; */
    background-color: #25baff;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    padding-left: 120px;
}

.logo {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
}

.navbar {
    height: 75px;
    position: fixed;
    padding-top: 30px;
    background-color: transparent;
    transition: top 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1000;
    width: 100%;
}

.navbarItemsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-right: 55px;
}

.navbarItemsContainer > *:not(:last-child) *:not(.joinUsBtn) {
    margin-right: 30px;
}

.navbar-hidden {
    top: -100px;
}

 
.navbarItem {
    display: inline-block;
    font-weight: bold;
    position: relative;
    font-size: 1.2rem;
    color: #fff;


}

.navbarItem::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

.navbarItem:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.joinUsBtn:hover {
    background-color: #EBEBEB;
    border-radius: 5px;
    color: #171717;
    border: 2px solid #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px 15px;
}

.joinUsBtn {
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 6px 15px;
    margin-right: 0 !important;
}



@media (max-width: 767px) {
 
}