
/* HOME SECTION */

.homeSection {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
    height: 100vh;
}

.loginAndSignUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 100%;
}

.privacyAndTermText{
    color: #71767B;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.signInButton {
    color: #feee7d;
}

.alreadyHaveAccountContainer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    align-items: flex-start;
    margin-top: 40px;
}


.alreadyHaveAccountContainer > *:last-child {
    margin-top: 10px;
}

.loginAndSignUpTextHeader{
    color: #fff;
    font-size: 66px;
    text-wrap: nowrap;
    font-weight: 600;
    margin-bottom: 20px;
}
.loginAndSignUpText {
    color: #fff;
    font-size: 26px;
    text-wrap: nowrap;
    font-weight: 600;
}

.homeSectionImage {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.homeSectionImageContainer {
    width: 30%;
}