
.registerContainer{
    background-color: #141418;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.registerFormContainer {
    border-radius: 13px;
    padding: 45px 30px;
    background-color: #141418;
    /* box shadow with #122531 */
    box-shadow: 0px 8px 100px rgba(18, 37, 49, 2);
}




.inputHeader {
    font-weight: 600;
    color: white;
}

.inputField {
    font-weight: 500;
    width: 100%;
    padding: 12px 10px;
    padding-left: 15px;
    margin-top: 9px;
    color: white;
    border-radius: 10px;
    background-color: #24252C;
}



.register {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.registerText {
    color: #00B0FF;
    text-decoration: none;
}