.exploreContainer {

    border: 1px solid rgb(47, 51, 54);
    border-top: none;
}

.exploreSwitch {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.exploreTabL, .exploreTabR {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    width: 50%;
}

.exploreTabL:hover,
.exploreTabR:hover {
    background-color: rgba(255, 255, 255, 0.1);
}