.signInFormContainer {
    border-radius: 13px;
    padding: 45px 30px;
    background-color: #141418;
    /* box shadow with #122531 */
    box-shadow: 0px 8px 100px rgba(18, 37, 49, 2);
}

.inputGroup :not(.submitButton) {
    margin-bottom: 20px;
}



.inputHeader {
    font-weight: 600;
    color: white;
}

.inputField {
    font-weight: 500;
    width: 100%;
    padding: 12px 10px;
    padding-left: 15px;
    margin-top: 9px;
    color: white;
    border-radius: 10px;
    background-color: #24252C;
}

.submitButton {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    margin-top: 0;
    background-color: #00B0FF;
    border-radius: 4px;
    color: white;
}

.submitButton:hover {
    background-color: #25baff;
}


.register {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.registerText {
    color: #00B0FF;
    text-decoration: none;
}