.blogSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141418;
    height: 100vh;
    width: 100%;
    /* This ensures it doesn't exceed the width of the viewport */
}

.blogHeaderText {

    background-image: linear-gradient(to left, #FDA000, #D3208B, #872AF2);
    background-clip: text;
    color: transparent;
    font-size: 4.6vw !important;
    line-height: 1.5 !important;

}


.blogTextsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    font-weight: bold;
    line-height: 1;
    font-size: 4vw;
    margin-top: 50px;
    width: 95vw;
}


.cardContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    height: 10vw;
    margin-top: 50px;
    padding: 0 10px;
    /* Add some padding */
}


@media (min-width: 768px) {
    .cardContainer {
        justify-content: flex-start;
        height: 80%;
        padding: 0 20px;
        /* Increase padding for larger screens if needed */

    }

}