@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
* {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

.nextui-input input:focus {
    outline: none;
    border-color: red; /* or set to the desired border color */
  }